<h2>Valitse testi</h2>

<div class="list-group">
  <%= for form <- @forms do %>
    <%= link form.name, to: fill_form_path(@conn, :new, form.id), class: "list-group-item list-group-item-action list-group-item-success" %></a>
  <% end %>
</div>
