<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Hello Lukimat!</title>
    <link rel="stylesheet" href="<%= static_path(@conn, "/css/app.css") %>">
  </head>

  <body>
    <div class="container container-main">
      <nav class="navbar navbar-expand-lg bg-primary navbar-dark rounded">
        <a class="navbar-brand" href="/">
          <span class="badge badge-secondary d-inline-block align-top" style="background-color: #FFA62F;">Ä</span>
          Äppylä
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarText">
          <%= if assigns[:current_user] && assigns[:current_user].role == "teacher" do %>
            <ul class="navbar-nav mr-auto">
              <li class="nav-item <%= active_path?(@conn, "users") %>">
                <a class="nav-link" href="<%= user_path(@conn, :index) %>">Käyttäjät<span class="sr-only">(current)</span></a>
              </li>
              <li class="nav-item <%= active_path?(@conn, "schools") %>">
                <a class="nav-link" href="<%= school_path(@conn, :index) %>">Koulut</a>
              </li>
              <li class="nav-item <%= active_path?(@conn, "questions") %>">
                <a class="nav-link" href="<%= question_path(@conn, :index) %>">Kysymykset</a>
              </li>
              <li class="nav-item <%= active_path?(@conn, "answers") %>">
                <a class="nav-link" href="<%= answer_path(@conn, :index) %>">Vastaukset</a>
              </li>
              <li class="nav-item <%= active_path?(@conn, "forms") %>">
                <a class="nav-link" href="<%= form_path(@conn, :index) %>">Lomakkeet</a>
              </li>
              <li class="nav-item <%= active_path?(@conn, "choices") %>">
                <a class="nav-link" href="<%= choice_path(@conn, :index) %>">Vastausvaihtoehdot</a>
              </li>
            </ul>
          <% end %>
          <ul class="navbar-nav my-2 my-lg-0">
            <%= if assigns[:current_user] do %>
              <li> <%= link "Sign out", to: session_path(@conn, :delete, 1), method: "delete", class: "nav-link" %>
              <li class="nav-item <%= active_path?(@conn, "users/new") %>">
            <% else %>
                <a class="nav-link" href="<%= register_path(@conn, :new) %>">Rekisteröidy</a>
              </li>
              <li class="nav-item <%= active_path?(@conn, "sessions/new") %>">
                <a class="nav-link" href="<%= session_path(@conn, :new) %>">Kirjaudu sisään</a>
              </li>
            <% end %>
          </ul>
        </div>

      </nav>

      <%= cond do %>
        <% get_flash(@conn, :info) -> %>
          <div class="alert alert-info alert-dismissible fade show" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
            <%= get_flash(@conn, :info) %>
          </div>
        <% get_flash(@conn, :error) -> %>
          <div class="alert alert-danger alert-dismissible fade show" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
            <%= get_flash(@conn, :error) %>
          </div>
        <% true -> %>
          <! --- nothing --- !>
      <% end %>

      <main role="main" class="jumbotron bg-light mt-4">
        <%= render @view_module, @view_template, assigns %>
      </main>
    </div>
    <script src="<%= static_path(@conn, "/js/app.js") %>"></script>
    <script src="<%= static_path(@conn, "/js/bundle.js") %>"></script>
  </body>
</html>
